.box {
  min-width: 30px;
  margin: 10px;
  border: 1px solid #fff;
}

.skill-image {
  width: 60px;
  height: 60px;
  /* From https://css.glass */
  background: rgba(233, 233, 233, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.proficiency {
  width: 100%;
  height: 10px;
  background-color: white;
}

.skill-name {
  font-stretch: expanded;
  font-weight: 400;
}

.progress-percent {
  width: 70%;
  background-color: antiquewhite;
  height: 10px;
}
:host {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

:host ul {
  margin-top: 1rem;
}

.marquee {
  width: var(--marquee-width);
  background-color: #2d2f2c;
  color: #eee;
  overflow: hidden;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  /* --marquee-elements: 8; defined with JavaScript */
  /* --marquee-animation-duration: calc(var(--marquee-elements) * 3s); */

  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  /* defined with JavaScript */

  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  /* width: var(--marquee-element-width); */
  max-height: 100%;
  /* font-size: calc(var(--marquee-height) * 3 / 4); 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  padding: 3px;
  /* height: 100%; */
}

@media (max-width: 600px) {
  :host {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
