.box {
  min-width: 30px;
  margin: 10px;
}

h1 {
  filter: brightness(4);
  letter-spacing: -0.05em !important;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.skill-image {
  width: 60px;
  height: 60px;
  /* From https://css.glass */
  background: rgba(233, 233, 233, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 4px;
}
.proficiency {
  width: 100%;
  height: 10px;
  background-color: white;
}

.skill-name {
  font-stretch: expanded;
  font-weight: 400;
  color: white;
}

.progress-percent {
  width: 70%;
  background-color: #6335ac !important;
  filter: brightness(4);
  height: 10px;
}

@media only screen and (max-width: 480px) {
  .box-grid {
    padding: 5px;
  }
  img {
    max-width: 40px;
  }

  .skill-image {
    width: auto;
    height: auto;
    padding: 4px;
  }

  .box-grid {
    padding: 0.1rem;
  }

  .box {
    margin: 0px;
    border: none;
  }
}
