.box-heading {
  color: #6335ac !important;
  filter: brightness(4);
  font-weight: 600 !important;
  letter-spacing: -0.05em !important;
}

.git-img {
  height: 50%;
}
.contribution-text {
  filter: brightness(4);
  letter-spacing: -0.05em !important;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.box-text {
  --bs-light-rgb: 138, 246, 152;
  color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important;
  letter-spacing: -0.05em !important;
}

.badges {
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  --bs-light-rgb: 138, 246, 152;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.trailhead-img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 480px) {
  .mandate-p-m-class {
    margin-top: 0.5rem !important;
  }
  .colone {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
  .git-img {
    height: 4rem;
  }
}
