h1 {
  filter: brightness(4);
  letter-spacing: -0.05em !important;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.mandate-p-m-class {
  background-color: #030008 !important;
}

.box {
  width: 40px;
  height: 40px;
}
.banner-description h2 {
  --bs-body-color: #dee2e6;
  --bs-light: #8af698;
  background: linear-gradient(to bottom, var(--bs-body-color), var(--bs-light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.03rem var(--bs-body-color);
}
