.heading {
  /* color: white; */
  font-weight: 700;
  font-stretch: extra-expanded;
  text-transform: uppercase;
  color: white;
}

.border-style {
  /* border: 1px solid white; */
  padding: 1rem;
}
.wrapper {
  background-size: cover;
  padding: 2rem;
  border-radius: 1rem;
}
.tech-tag {
  padding: 3px;
  margin: 3px;
  display: inline-block;
  font-weight: 700;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  --bs-light-rgb: 138, 246, 152;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.project-summary span {
  font-stretch: semi-expanded;
  font-weight: 400;
  color: white;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 0rem;
  }
}
