.container {
  background-color: #030008 !important;
}

.box-heading {
  filter: brightness(4);
  letter-spacing: -0.05em !important;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.exp-points {
  color: #4ccd99 !important;
  font-family: monospace;
}

.card {
  /*   width: 600px; */
  margin: auto;
  border: none !important;
  background-color: #8afc5d !important;
  filter: brightness(1);
}

.tab-design {
  background-color: #030008 !important;
}

ul.slds-vertical-tabs__nav {
  padding-left: 0px !important;
  background: #030008;
}

.tab-active {
  --slds-c-tabs-scoped-color-text-active: red;
}
