.exp-points {
  color: #030008 !important;
  background-color: aquamarine !important;
}

.slds-progress_vertical .slds-progress__item_content {
  margin-top: 0rem !important;
  padding-bottom: 2rem !important;
}

.slds-progress_vertical .slds-progress__item {
  align-items: unset;
}
.more-details-header {
  filter: brightness(4);
  letter-spacing: -0.05em !important;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.more-details-content {
  color: lightcyan;
  font-stretch: expanded;
  /* width: 80%; */
}

.slds-panel {
  background-color: darkcyan;
}

.slds-panel__header-title {
  margin: 0px;
  color: white;
  font-size: larger;
}
.slds-button .slds-button_icon {
  color: white;
}
.exp-points p {
  margin-bottom: 0.2rem !important;
}
.role {
  color: #6335ac !important;
  filter: brightness(4);
  font-weight: 600 !important;
  letter-spacing: -0.05em !important;
}

.duration {
  padding: 3px;
  font-weight: 700;
  --bs-text-opacity: 1;
  --bs-dark-rgb: 60, 2, 151;
  --bs-light-rgb: 138, 246, 152;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.slds-tabs {
  position: relative;
}

.slds-tabs-mobile {
  padding-left: 0 !important;
  background-color: #000000;
}
.slds-button_full-width {
  color: #6335ac !important;
  filter: brightness(4);
  font-weight: 600 !important;
  letter-spacing: -0.05em !important;
}

.slds-panel_animated {
  position: static !important;
}

.slds-grid {
  background-color: #030008;
}
.card-2 {
  /* position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%); */

  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px; */
}

@media only screen and (max-width: 480px) {
  .mandate-p-m-class {
    margin-bottom: 0rem !important;
  }
}
